$bg-color=#F2F2F2
$bg-image-mobile=url("../images/bg-mobile-light.jpg")
$bg-image-mobile-dark=url("../images/bg-mobile-dark.jpg")
$bg-image-desktop=url("../images/bg-desktop-light.jpg")
$bg-image-desktop-dark=url("../images/bg-desktop-dark.jpg")
$white-color=#FFF

/* ******* *\
|
\* ******* */
$font-family="Josefin Sans", sans-serif
$font-color = #494C6B
$font-color-alt=#9495A5
$font-color-grayed=#D1D2DA
$font-color-selected=#3A7CFD
$gradient=linear-gradient(135deg, #5DF 0%, #C058F3 100%)